useDynLib(GOSim,OAWrapper)
import(GO.db)
import(AnnotationDbi)
importFrom(org.Hs.eg.db, org.Hs.egGO)
export(getOffsprings,getAncestors,getParents,getChildren,setEvidenceLevel,setOntology,getGOInfo,filterGO,getGeneSim,getGeneFeaturesPrototypes,getGeneSimPrototypes,selectPrototypes,setEnrichmentFactors,getGOGraph,getGOGraphsGenes,calcICs,getMinimumSubsumer,getDisjCommAnc,getTermSim,evaluateClustering,GOenrichment,getGeneFeatures, calc.diffusion.kernel, load.diffusion.kernel)
