useDynLib(GOSim,OAWrapper)
import(GO.db)
import(AnnotationDbi)
importFrom(org.Hs.eg.db, org.Hs.egGO)
importFrom(org.Dm.eg.db, org.Dm.egGO)
importFrom(org.Mm.eg.db, org.Mm.egGO)
importFrom(org.Rn.eg.db, org.Rn.egGO)
importFrom(org.Pf.plasmo.db, org.Pf.plasmoGO)
importFrom(org.Sc.sgd.db, org.Sc.sgdGO)
export(getOffsprings,getAncestors,getParents,getChildren,setEvidenceLevel,setOntology,getGOInfo,filterGO,getGeneSim,getGeneFeaturesPrototypes,getGeneSimPrototypes,selectPrototypes,setEnrichmentFactors,getGOGraph,getGOGraphsGenes,calcICs,getMinimumSubsumer,getDisjCommAnc,getTermSim,evaluateClustering,GOenrichment,getGeneFeatures, calc.diffusion.kernel, load.diffusion.kernel)
